<span ng-repeat="show in shows
								track by show.id" ng-switch on="show.bbc">
	
	<span ng-switch-when="true"class="schedShow bbc start-{{show.start}}" id="{{show.day}}-{{show.daysId}}" data-toggle="modal" data-target="#featureModal"></span>
	<!-- show.daysId is currently not being calcualted -->
	<div>
		<span ng-switch-default class="schedShow show-style start-{{show.start}} {{show.colour}}" id="{{show.day}}-{{show.daysId}}" data-toggle="modal" data-target="#featureModal">
	  	{{show.name}} | {{show.day}} | {{show.day | formatDay }} | {{show.start | formatTimeString}} | {{show.end | formatTimeString}}<br/>
	  	{{show | json}}
		</span>
	</div>
</span>